.help-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* align-items: center; */
    justify-content: end;
    font-family: "Lexend Deca";
    z-index: 1000;
    overflow-y: auto;
}

.help-modal-box {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 31rem;
    height: auto;
    position: relative;
    overflow-y: auto;

}

.help-cross {
    background-color: var(--white);
    border-radius: 0.3125rem;
    border: 1px solid var(--border-color);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 0.75;
    width: 2.625rem;
    height: 2.625rem;
    font-size: var(--font-bigger);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 31.5rem;
    top: 0.94rem;
    cursor: pointer;

}

.help-tabs {
    margin: 1rem !important;

}

/* question tab css starts  */

.question-tab {
    /* padding:1.5rem; */
    margin: 1rem;
}

.question-tab-top {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: var(--font-bigger);
}

.question-tab-note {
    color: var(--font-light);
    margin-bottom: 1.5rem;
}


.question-search-input {
    color: #000 !important;
    /* Set your desired text color */
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02563rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    /* Adjust the value to create space for the search icon */
    padding-right: 1rem;
    width: 28rem;
    height: 2.375rem;
    border-radius: 3.4375rem;
    border: 1px solid var(--border-color);
    background: var(--white);
}

.question-search-input::placeholder {
    color: var(--font-light);

    /* Placeholder text color */
}

.question-search-icon {
    position: absolute;
    top: 50%;
    left: 0.94rem;
    /* Adjust the value to position the icon correctly */
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 0.81rem; */
}

.question-para {
    margin-bottom: 1.5rem;
    color: var(--font-light);
    margin-top: 1.5rem;
    line-height: 1.25rem;
    /* 142.857% */

}

.headphone-container {
    margin: 1rem;
}

.headphone-input {
    margin-left: 0.2rem;
}




/* question tab css ends */


/* time tab  */

.time-container {
    margin: 1rem;
}

.time-request-heading {
    font-size: var(--font-bigger);
    font-weight: 600;
    margin-bottom: 1rem;
}

.time-request-note {
    font-size: var(--font-medium);
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.service-user-details {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.service-user-name {
    color: var(--font-light);
    width: 6rem;
}

.green-color-tick {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.white-color-tick {
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.service-request-open {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.service-date {
    color: var(--font-light);
    margin-bottom: 0.3rem;
}

.time-progress-section1, .time-progress-section2{
    display: flex;
    position: relative;
    margin-bottom: 2rem;
    /* justify-content: start;
    align-items:start; */
}

.time-progress-section2{
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

.green-line {
    width: 0.0625rem;
    height: 4.5rem;
    background-color: var(--primary);
    position: absolute;
    top:72%;
    left:2.3%;
}
.white-line {
    width: 0.0625rem;
    height: 4.8rem;
    background-color: var(--border-color);
    position: absolute;
    top:58%;
    left:2.3%;
}

.time-user-name{
    display: flex;
    justify-content: start;
    align-items: center;
}

.time-user-icon{
    width:1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
    border-radius: 50%;
    margin-right: 0.2rem;
}
.time-user-icon img{
    width:0.8rem;
    height: 0.8rem;
   
}

.issue-resolved{
color:var(--font-lighter);
}

.time-attachments{
    margin-bottom: 0.3rem;
    margin-top: 4rem;
}

.time-screenshot{
    color:var(--ternary);
    margin-bottom: 3rem;
}

.time-screenshot img{
    margin-left: 0.4rem;
}

.headphone-btn{
    margin-bottom: -1.5rem !important;
    margin-top: 5rem;
}


/* time tab ends */

/* seach section */

.search_result{
    width: 28rem;
    height: 10rem;
    background-color: var(--white);
    border-radius: 0.3125rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
}

/* search section ends */
