.leadDetails-section{
    padding: 0rem 0.8rem;
}
.leadDetails-expand{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.lead-description{
    padding:0rem 1rem 1rem 1rem;
}
.leads-details{
color: #1e2224;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02563rem;
    margin-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-align: left;
}
.about-textarea{
    margin-bottom:4rem !important;
}
.sportCap{
    text-transform: capitalize;
}
.divWidth{
    max-width: 51vw !important;
}
#academyDetHead{
    text-align: left;
    font-family: "Lexend Deca";
    font-size: 1.125rem;
    font-weight: 500;
    color: #1e2224;
    width: 40rem;
    border: none;
}