.mrkt-whatsapp{
    margin-left: 0.2rem;
}

.marketing-tab, .marketing-all-table{
    margin-left: 1rem;
    margin-right: 1rem;
}

.marketing-all-table table{
    margin-top: 2rem;
}

.marketing-all-table table th, .marketing-all-table table td{
  text-align: left;
}

.marketing-all-table table td:nth-child(1),
.marketing-all-table table td:nth-child(2),
.marketing-all-table table td:nth-child(3){
    border-right: 1px solid transparent;
}

.marketing-all-table table th{
background-color: #F3F6FA;
}

.marketing-all-table td{
background-color: #fff;
}

.mrkt-list-table table td:nth-child(3){
    border-right: 1px solid #dcdcdc;
}

.mrkt-new-btn{
    width:10rem;
}
.mrkt-top-flex{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.mrkt-list-container{
    display: flex;
    justify-content: start;
    align-items: start;
}

.mrkt-list-left{
    width: 20vw;
    height: auto;
    background: #f8fbf8;
    padding: 1rem;
    height: 75vh;
    overflow: auto;
}

.mrkt-list-top-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.mrkt-list-top-filter p:first-child{
    font-size: 1rem;
}
.mrkt-list-top-filter p:last-child{
    font-size: 0.75rem;
    color:var(--ternary);
    cursor: pointer;
}

.mrkt-list-select{
    border-radius: 0.3125rem;
border: 1px solid #DCDCDC;
background: #fff;
padding: 0.5rem;
width: 100%;
margin-right: 1rem;
cursor: pointer;
}


.filter-list-option{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 1.5rem;
}

.mrkt-first-filter{
    margin-top: 2.5rem;
}

.filter-list-option label{
    margin-bottom: 0.5rem;
}

.mrkt-list-left-wrapper{
    height: 85vh;
    background: #f8fbf8;
}

.left-list-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}

.left-list-btn button{
    margin-right: 1rem;
}


.mrkt-list-checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -0.5rem;
}

.mrkt-list-checkbox span{
    margin-left: 0.5rem;
}

.filter-last-option{
    margin-bottom: 2.5rem;
}


.mrkt-list-right{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-right: 1rem;
}

.mrkt-right-wrapper{
    width: 100%;
}

.mrkt-right-table{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 65vh;
    overflow: auto;
}

.mrkt-table-wrapper{
    height: 75vh;
}

.mrkt-add-all{
 margin-right: 1rem;
}

.mrkt-apply-btn{
    display: flex;
    justify-content: end;
    align-items:center;
    margin-top: 1rem;
    margin-right: 1rem;
}

.mrkt-apply-btn button:first-child{
    margin-right: 1rem;

}

.mrkt-right-table table th:first-child{
    width: 2%;
}

.mrkt-right-table table th{
    text-align: left;
}
.mrkt-right-table table td:last-child, .mrkt-right-table table td:nth-child(6){
    text-align: center;
}




.mrkt-right-table table th:nth-child(6){
    width: 2%;
}
.mrkt-right-table table th:nth-child(7){
    width: 2%;
}

.mrkt-username{
    display: flex;
    justify-content: start;
    align-items: center;
}

.mrkt-username-img{
    padding: 0.2rem 0.4rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F6FA;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.mrkt-username-img img{
    width: 1.25rem;
    height: 1.25rem;
}

.mrkt-blue{
    color:var(--ternary);
}

.mtkt-check{
    height: 1.25rem;
    width: 1.25rem; 
    cursor: pointer;
}

.mrkt-box{
    margin-left: 0.2rem !important;
}

.mrkt-modal{
        background-color: #fff;
        width: 30rem;
        height: auto;
        margin: 0 auto;
        padding: 1rem;
    }
.mrkt-modal-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mrkt-close{
    cursor: pointer;
}
.mrkt-modal-input{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.mrkt-modal-listname{
    font-size: 1.5rem;
    font-weight: 500;
}

.mrkt-modal-bottom-btn{
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color:#F3F6FA ;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}

.mrkt-modal-bottom-btn button:last-child{
   margin-left: 1rem;
   margin-right: 1rem;
  
}


