.mrkt-whatsapp{
    margin-left: 0.2rem;
}

.marketing-tab, .marketing-all-table{
    margin-left: 1rem;
    margin-right: 1rem;
}

.marketing-all-table table{
    margin-top: 2rem;
}

.marketing-all-table table th, .marketing-all-table table td{
  text-align: left;
}

.marketing-all-table table td:nth-child(1),
.marketing-all-table table td:nth-child(2),
.marketing-all-table table td:nth-child(3){
    border-right: 1px solid transparent;
}

.marketing-all-table table th{
background-color: #F3F6FA;
}

.marketing-all-table td{
background-color: #fff;
}

.mrkt-list-table table td:nth-child(3){
    border-right: 1px solid #dcdcdc;
}

.mrkt-new-btn{
    width:10rem;
}

