.salarySlip{
    /* margin: 3.5rem; */
    
    padding: 5rem;
}
.salaryData{
    /* border-collapse: collapse; */
    border: 1px solid black;    
    text-align: center;
}
.salaryCell{
    border: 1px solid black;    
}

.billTitle{
    display: flex;

}
.billTitle>h1{
font-size: 3rem;
padding: 0.7rem 1rem;
border: 1px solid black;
border-bottom: none;
}
.billAdress{
    padding: 0.81rem;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
    text-align: center;
    width: 85%;
}
.billFoot{
    padding: 0.81rem;
    border: 1px solid black;
    border-top: none;
    text-align: center;
    width: 100%;
}